[Unit]
Description=Run signaris-hub-automations hourly

[Timer]
OnCalendar=*-*-* *:20:00
Persistent=true
Unit=signaris-hub-automations.service

[Install]
WantedBy=timers.target
